@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #1d444c;
    border-radius: 2px;
}

.for-bg{
    background-image: url(websitedemos_net/landscape-mountains-sky-4843193.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-color{
    background-color:  rgba(65, 100, 97, 0.583);
    height: 100vh;
}

.for-bg-nav{
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.blue-btn{
    
    padding:  15px 35px;
    margin: 10px;
    color: white;
    background-color: #153243c5;
    border: none;
    width: 170px;
}

.blue-btn:hover{
    background-color: black;
    cursor: pointer;
}

.headings{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 80px;
}

.h2main{
    color: white;
    font-size: 30px;
}

.h1main{
    color: white;
    font-size: 50px;
}

.transperent-btn{
    padding:  15px 45px;
    margin: 10px;
    color: white;
    border-color:  rgba(255, 255, 255, 0.273);
    background-color: rgba(240, 248, 255, 0);
}

.transperent-btn:hover{
    background-color:#153243c5;
    cursor: pointer;
}

.white-btn{
    padding:  15px 45px;
    margin: 10px;
    color: black;
    background-color: white;
    border: none;
}

.white-btn:hover{
    background-color: #153243c5;
    color: white;
    cursor: pointer;
}

.main-section-bg{
  margin: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
 
}

.section-bg{
    height: 300px;
    background-repeat: no-repeat;
}



.mainh3{
    color: white;
    display: flex;
    justify-content: center;
    margin: 130px 0px;
}

.about-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
}

.blue-br-btn{
    padding:  15px 45px;
    margin: 25px 0px;
    background-color: #15324301;
    border-color: #153243c5;
}



.blue-br-btn-1:hover{
    cursor: pointer;
    color: white;
    background-color: #091c27;
}

.for-contact{
    background-image: url(websitedemos_net/fogs-on-green-mountain-1054222.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}

.contact-bg-color{
    background-color:  rgba(8, 61, 77, 0.469);
    height: 80vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-section{
    background-color: #F3F9FB;
    padding: 5%;
   
}

.section-img{
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
}

.section-img img{
    height: 250px;
}

.main-end{
    display: flex;
    margin: 5%;
}

.end-1{
    display: flex;
    flex-flow: column;
}

.for-icon i{
   color: #1d444c;
   margin: 0px 20px;
   font-size: 18px;
}

.about-info{
    display: flex;
    flex-flow: column;
    margin: 0px 100px;
}

.about-info a{
    text-decoration: none;
    color: black;
    margin: 3px 0px;
}

.end{
    display: flex;
    justify-content: center;
    margin: 2%;
}

/**/

.all-pg-bg{
    background-image: url(websitedemos_net/landscape-mountains-sky-4843193.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    
}

.all-pg-transperancy{
    background-color: rgba(8, 61, 77, 0.469);
    height: 60vh;
}

.all-pg-head{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 38px;
    margin: 50px;
}

.abt-1{
   display: grid;
   grid-template-columns: 1fr 1fr;
  
}

.about{
    display: flex;
    flex-flow: column;
}

.abt-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-content: center;
    background-color: #F3F9FB;
    padding: 6%;
}

.services{
    margin: 5%;
}

.services-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 3%;
   
}

.ser-2{
    margin: 35px  ;
}

.ser-2 h3{
    font-size: 30px;
    margin: 15px 0px;
}

.ser-2 p{
    line-height: 25px;
    font-size: 18px;
}

.form-contact{
    display: flex;
    flex-flow: column;
}

.form-contact input,textarea{
    padding:15px 5px;
    margin: 20px 0px;
    border: none;
    border-bottom: 1px solid #091c27;
   
}


.img-ser{
    height: 400px;
    
}


.contact-info{
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.contact-btn{
    padding:  15px 45px;
    margin: 25px 0px;
    background-color: #15324301;
    border-color: #153243c5;
}

.contact-btn:hover{
    cursor: pointer;
    color: white;
    background-color: #091c27;
}

.for-a-tag a{
    text-decoration: none;
    color: black;
}

.for-a-tag i,a:hover{
    color: #1d444c;
    cursor: pointer;
}

.logo-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.hamburger {
    font-size: 20px;
    color: white;
    background-color: #1d444c;
    padding: 10px;
    border-radius: 2px;
    


}


.mobile-nav{
    display: none;
    position: fixed;
    background-color: white;
    height: 100%;
    width: 100vw;
    top: 0px;
    left: 0;
  
 
}

.close{
    display: flex;
    justify-content: right;
    font-size: 25px;
    padding: 10px;
    margin: 10px;

}

.open{
    display: block;
}

.mobile-link {
    display: flex;
    flex-flow: column;
}


.mobile-link a{
    justify-content: center;
    text-decoration: none;
    color: #091c27;
    font-size: 20px;
    border-bottom: 1px solid #091c27;
    padding: 14px;
}








@media screen and (max-width: 1200px){
    .img-ser{
    height: 350px;
    }
}

@media screen and (max-width: 1000px){
    .section-img{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about-info{
        margin: 0px 25px;
    }

    .about-info a{
        font-size: 15px;
    }

    .abt-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

   .services-1{
    display: flex;
    flex-flow: column;
   }

   .img-ser{
    height: 500px;
    
}
}






@media screen and (max-width: 900px){
    .nav-items{
        display: none;
    }

    .section-img img{
        height: 230px;
    }
   
    .abt-1{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        
       
     }
}

@media screen and (min-width: 900px){
    .hamburger{
        display: none;
    }
}

@media screen and (max-width: 800px){
    .h2main{
        font-size: 25px;
    }

    .h1main{
        font-size: 45px;
    }

    .head-p{
        font-size: 15px;
    }

    .main-section-bg{
        margin: 2%;
    }

    .section-img img{
        height: 220px;
    }

    .all-pg-head{
        font-size: 30px;
    }
   .img-ser{
    height: 400px;
    
}

.contact-info{
    display: grid;
    grid-template-columns: 1fr;
   
}

.form{
    margin: 25px 0px;
}
}

.map-div iframe{
    width: 100%;
    height: 80vh;
}

@media screen and (max-width: 700px){
    .h2main{
        font-size: 20px;
    }

    .h1main{
        font-size: 40px;
    }

    .head-p{
        font-size: 14px;
    }

    .main-section-bg{
        display: grid;
        grid-template-columns: 1fr;
    }

    .about-section{
        display: grid;
        grid-template-columns: 1fr;
        margin: 3%;
    }

    .about-description{
        margin: 15px 0px;
    }

    .section-img img{
        height: 200px;
    }

    .abt-2{
        display: grid;
        grid-template-columns: 1fr;
    }

  
}

@media screen and (max-width: 600px){
    .section-img img{
        height: 150px;
    }

    .end{
        font-size: 13px;
    }

    .img-ser{
    height: 300px;
    
}
}








@media screen and (max-width: 500px){
    .h1main{
        font-size: 30px;
        margin: 10px 0px;
    }

    .section-img {
        display: grid;
        grid-template-columns: 1fr;
    }

    .section-img img{
        height: 250px;
    }

    .main-end{
        display: flex;
        flex-flow: column;
    }

    .all-pg-head{
        font-size: 25px;
        padding: 25px;
    }

    .img-ser{
    height: 250px;
    
}

}

@media screen and (max-width: 400px){
    .h2main{
        font-size: 18px;
    }

    .h1main{
        margin: 5px 0px;
    }

    .section-img img{
        height: 230px;
    }

  

}
